{% extends "nav_layout.html" %}

{% block body %}
<!-- div id="push-top-index" style="height: 100px"></div -->
<div class="contain-all">
    <div id="push-before-map" style="height: 10px;"></div>
    <div class="container-fluid" id="map-container">
        <!--<div id="map-intro" style="width:100%;"></div>-->
        <!--script src="./static/js/HeatLayer.js"></script>
        <script src="./static/js/leaflet-heat.js"></script-->
        <script src="./static/js/map-util.js"></script>
        <script type="text/javascript">

        </script>
    </div>
    <div id="menu">
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">About</a></li>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('index') }}">FAQ</a></li>
            </br>
            </ul>
        </nav>
    </div
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="text-align: center; font-size: 700%; padding-top: 100px; padding-bottom: 50px;">PEARL</h1>
                <h2 style="text-align: center;">
                    The Parasite Extinction Assessment and Red List
                </h2>
                <br>
                <h3 style="text-align: center;">
                    <em>The world's first parasite conservation database</em>
                </h3>
                <br>

            </div>
        </div>
    </div>
    <div class="container" id="search" style="text-align: center"></div>

    <!--div id="search" style="text-align:center"></div>
    <script type="text/javascript">
        Spname = ["Zygocotyle lunata","Boe","June","July"]; //put it into json from app.py ??
        text = '<form role="form" method="POST" action="">' +
        '<div class="form-group">' +
        '<label for="searchbar">Search Bar:</label>' +
        '<select id="searchbar" style="width:300px" name="searchbar">';
        for(i = 0; i < Spname.length; i++){
            text += '<option value="' + Spname[i] + '"><i>' +  Spname[i] + '</i></option>';
        }
        text += '</select>' +
        '<buttom type="submit" class="btn btn-default" id="hellyeah"> Render Map </bottom>' +
        '</div>'
        '</form>';
        document.getElementById("search").innerHTML = text
        $('select').select2({
            theme: 'bootstrap'
        });

    </script-->



    <div id="push-index-bottom1" style="height: 120px"></div>
    <div class="container-fluid" style="background-color: rgba(238, 238, 238, 0.75)">
        <div id="push-index-bottom2" style="height: 100px"></div>
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <form role="form" method='POST' action=''>
                                    <div class="form-group">
                                        <!--input type = "text" name = "query_string" class = "form-control" id = "query-box" placeholder = "Enter query" style = "max-width: 300px;" autofocus required-->
                                        <fieldset class="form-group">
                                            <legend>Example Species to Use:</legend>
                                            <div class="form-check" id = "form-check">
                                            </div>
                                        </fieldset>

                                   </div>
                                    <button type="submit" class="btn btn-default">Render Map</button>
                                </form>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3><em>Coming soon / beta mode functionality:</em></h3>
                        <br>
                        <ol>
                            <li><p><a href="/get_calc">Ask simple math</a></p></li>
                            <li><p>Go to file upload page</p></li>
                            <li><p>Time range based on <i>Bootstrap sliders</i></p></li>
                            <li><p>Render map from backend based on user query</p></li>
                        </ol>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div id="push-index-bottom" style="height: 300px;"></div>
    </div>
</div>
<script type="text/javascript">
        Spname = ["Zygocotyle lunata","Boe","June","July"]; //put it into json from app.py ??
        /*text = '<label for="searchbar">Search Bar:</label>' +
        '<select id="searchbar" style="width:300px" name="searchbar" class="form-control required">';*/
        text = '<label for="searchbar"></label>' +
        '<select id="searchbar" style="width:300px" name="searchbar" class="form-control required"><option value="foo_sp"><b><i>Pick a species here...</i></b></option>';
        for(i = 0; i < Spname.length; i++){
            text += '<option value="' + Spname[i] + '"><i>' +  Spname[i] + '</i></option>';
        }
        text += '</select>';
        text2= 'hey'
        document.getElementById("form-check").innerHTML = text
        $('select').select2({
            theme: 'bootstrap'
        });
</script>
<script>
    $(document).ready(function () {
        $('.select2').on('change', function () {
            $(this).valid();
        });
        return false;
    });
</script>
{% endblock body %}
