{% extends "nav_layout.html" %}

{% block body %}
{% block menu %}
    <div class="wrapper" style="height:130%;">
    <div class="background">
        <div style="height:20px;"></div>
        <div id="menu">
        <nav>
            <ul>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('pub') }}">Publications</a></li>
            </br>
            </ul>
        </nav>
        </div>{% endblock %}

<div class="contain-all">
    <div id="push-before-map" style="height: 10px;"></div>
    <div class="container-fluid" id="map-container">
        <!--<div id="map-intro" style="width:100%;"></div>-->
        <!--script src="./static/js/HeatLayer.js"></script>
        <script src="./static/js/leaflet-heat.js"></script-->
        <script src="./static/js/map-util.js"></script>
        <script type="text/javascript">

        </script>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="text-align: center; font-size: 700%; padding-top: 50px; padding-bottom: 40px;">PEARL</h1>
                    <div class="container" align="center">
                        <div class="row">
                                <form role="form" method='POST' action='' style="margin: 0 auto; width:310px">
                                    <div class="form-group" style="margin-bottom:0px">
                                        <!--input type = "text" name = "query_string" class = "form-control" id = "query-box" placeholder = "Enter query" style = "max-width: 300px;" autofocus required-->
                                        <fieldset class="form-group" style="margin-bottom:0px">
                                            <div class="form-check" id = "form-check" style="margin-bottom:5px">
                                            </div>
                                        </fieldset>
                                   </div>
                                    <button type="submit" class="btn btn-default">Render Map</button>
                                </form>
                        </div>
                    </div>
                </br>
                <p id="intro" style="text-align:center;">
                    <span style="font-size:20px;"> PEARL (Parasite Extinction Assessment and Red List) </span> <span style="font-size:15px;"> is the world's first parasite conservation database. The database holds species distribution data for over 450+ parasite species and their distribution projections under different future climate scenarios. Type in a species of interest to see the conservation assessment information of the species.</span> </p>
                <br>
                <div class="direct-buttons">
                    <div class="row" style="margin: auto;">
                        <div class="col-md-12" style="text-align:center;">
                            <button class="Publication" onclick="window.location.href='about#team'" name="team">Team Publication</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    <div class="container" id="search" style="text-align: center"></div>

    <!--div id="search" style="text-align:center"></div>
    <script type="text/javascript">
        Spname = ["Zygocotyle lunata","Boe","June","July"]; //put it into json from app.py ??
        text = '<form role="form" method="POST" action="">' +
        '<div class="form-group">' +
        '<label for="searchbar">Search Bar:</label>' +
        '<select id="searchbar" style="width:300px" name="searchbar">';
        for(i = 0; i < Spname.length; i++){
            text += '<option value="' + Spname[i] + '"><i>' +  Spname[i] + '</i></option>';
        }
        text += '</select>' +
        '<buttom type="submit" class="btn btn-default" id="hellyeah"> Render Map </bottom>' +
        '</div>'
        '</form>';
        document.getElementById("search").innerHTML = text
        $('select').select2({
            theme: 'bootstrap'
        });

    </script-->



    <div id="push-index-bottom1" style="height: 40px"></div>
    
</div>
<script type="text/javascript">
        var Spname = {{ splist| safe }};
        /*text = '<label for="searchbar">Search Bar:</label>' +
        '<select id="searchbar" style="width:300px" name="searchbar" class="form-control required">';*/
        text = '<label for="searchbar"></label>' +
        '<select id="searchbar" style="width:300px" name="searchbar" class="form-control required">' + 
        '<option value="foo_sp"><b><i>Choose a species of interest...</i></b></option>';
        for(i = 0; i < Spname.length; i++){
            text += '<option value="' + Spname[i] + '"><i>' +  Spname[i] + '</i></option>';
        }
        text += '</select>';
        text2= 'hey'
        document.getElementById("form-check").innerHTML = text
        $('select').select2({
        });
</script>
<script>
    $(document).ready(function () {
        $('.select2').on('change', function () {
            $(this).valid();
        });
        return false;
    });
</script>
<!-- FOOTER -->
    {% block footer %}
    <footer class="footer">
        <div class="container">
            </br>
            <p class="footer-text" style="text-align:center;">This website is a collaborative work of Zhongqi Miao, Oliver Muellerklein, Colin Carlson and Honeysuckle Yoon from <a href="https://nature.berkeley.edu/getzlab/">Getz Lab</a>. All rights reserved | Lab Location:VLSB 5048-B </p>
            <div class="row">
                <div class="col-md-2">
                    <a href="http://www.berkeley.edu/">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/California_Golden_Bears_logo.svg/2000px-California_Golden_Bears_logo.svg.png" alt="UCBerkeley" width="50" height="50">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="https://ourenvironment.berkeley.edu/">
                    <img src="http://microtsudentgroup.weebly.com/uploads/1/0/9/2/10929232/espm-logo.png" alt="ESPM" width="50" height="50">
                    </a>
                </div>
                <div class="col-md-2" style="margin-right:120px;">
                    <a href="https://nature.berkeley.edu/">
                    <img src="https://nature.berkeley.edu/sites/all/themes/cnr/cnr_logo_blue_640.png" alt="NTRES" width="200" height="50">
                </div>
                <div class="col-md-2">
                    <a href="https://naturalhistory.si.edu/">
                    <img src="https://asiloidflies.si.edu/sites/all/themes/nmnh_asiloid_flies_omega/images/si_logo_small_new.png" alt="Smithsonian" width="50" height="50">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="">
                    <img src="" alt="S.C.design and Analytics" width="50" height="50">
                    </a>
                </div>
            </div>
            <div class="push" style="height:10px;">
        </div>
    </footer>
    </div>
    </div>
    {% endblock %}

{% endblock body %}
