{% extends "nav_layout.html" %}
{% block body %}
<style type="text/css">
    .ctl {
        padding: 2px 10px 2px 10px;
        background: white;
        background: rgba(255,255,255,0.9);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
        text-align: right;
    }
    .title {
        font-size: 26pt;
        font-weight: bold;
        font-style: italic;
    }
</style>

<div class="container" style="height: 10px;"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center;"><b><i>{{ obj_show['prop_name'] }}</i><b></h1>
            <!--div class="container" style="padding: 10px; ">
                <table id="csv-table" data-toggle="true" data-show-columns="true" data-pagination="true" data-height="500">
                    <thead>
                        <tr class="click-row" data-href="/">
                            <th data-field="id" data-sortable="true">Species ID</th>
                            <th data-field="science_name" data-sortable="true">Scientific Name</th>
                            <th data-field="clade" data-sortable="true">Clade</th>
                            <th data-field="iucn" data-sortable="true">IUCN</th>
                            <th data-field="coverage" data-sortable="true">Data Collection Quality</th>
                            <th data-field="uncertain" data-sortable="true">Model Quality</th>
                            <th data-field="sources" data-sortable="true">Data Sources</th>
                            <th data-field="tss" data-sortable="true">True Skill Statistic</th>
                            <th data-field="roc" data-sortable="true">Area Under Curve</th>
                        </tr>
                    </thead>
                </table>
            </div-->
            <div class="container" style="height: 20px;"></div>
            <div class="row">
                <div class="col-md-3">
                    <div style="height: 0px;"></div>
                    <h2 style="style: center;">
                        True Skill Statistic
                    </h2>
                </div>
                <div class="col-md-3">
                    <div style="height: 0px;"></div>
                    <h2 style="style: center;">
                        Area Under Curve
                    </h2>
                </div>
                <div class="col-md-3">
                    <div style="height: 0px;"></div>
                    <h2 style="style: center;">
                        Data Quality
                    </h2>
                </div>
                <div class="col-md-3">
                    <div style="height: 0px;"></div>
                    <h2 style="style: center;">
                        Model Uncertainity
                    </h2>
                </div>
            </div>
            <div style="height: 200px;"></div>
        </div>
    </div>
</div>

<div id="push-before-map" style="height: 10px;"></div>
<div class="container-fluid" id="map-container" style="width: 85%; margin: 0 auto;">
    <div id="map-id" style="width:100%;"></div>
    <!--script src="./static/js/HeatLayer.js"></script>
    <script src="./static/js/leaflet-heat.js"></script-->
    <script src="./static/js/map-util.js"></script>
    <script type="text/javascript">
        $(window).load(function() {
            var model_array = ['ac45','ac85','bc26','bc45','bc60','bc85','cc26','cc45','cc60','cc85','hd26','hd45','hd60','hd85','he26','he45','he60','he80']

            var model_data = {{ obj_sp|tojson }};

            var model_string = model_array[0];
            var native_string = model_data[2]["tss"];
            var global_string = model_data[2]["roc"];
            var model_li = $("#Model1");
            var native_li = $("#native_habitat_change1");
            var global_li = $("#global_habitat_change1");
            model_li.html(model_string);
            native_li.html(native_string);
            global_li.html(global_string);

            var model_string = model_array[1];
            var native_string = model_data[3]["tss"];
            var global_string = model_data[3]["roc"];
            model_li = $("#Model2");
            native_li = $("#native_habitat_change2");
            global_li = $("#global_habitat_change2");
            model_li.html(model_string);
            native_li.html(native_string);
            global_li.html(global_string);

            var model_string = model_array[2];
            var native_string = model_data[4]["tss"];
            var global_string = model_data[4]["roc"];
            model_li = $("#Model3");
            native_li = $("#native_habitat_change3");
            global_li = $("#global_habitat_change3");
            model_li.html(model_string);
            native_li.html(native_string);
            global_li.html(global_string);

            for (var i = 5; i < model_data.length; i++) {

                model_string = model_array[i-2];
                native_string = model_data[i]["tss"];
                global_string = model_data[i]["roc"];
                model_li = $("#Model" + (i - 1))
                native_li = $("#native_habitat_change" + (i - 1));
                global_li = $("#global_habitat_change" + (i - 1));
                model_li.html(model_string);
                native_li.html(native_string);
                global_li.html(global_string);
            }
        });

        $(document).ready(function($) {
            $(".click-row").click(function() {
                window.document.location = $(this).data("href");
                //window.location = $(this).data("url");
            });
        });

        /***************************************
        * Various basemaps
        ***************************************/

        //  .. OpenStreetMap
        var osm_base = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'});

        //  .. CartoDB Positron
        var cartodb_base = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'});

        //  .. OSM Toner
        var toner_base = L.tileLayer('http://{s}.tile.stamen.com/toner/{z}/{x}/{y}.png', {attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright">ODbL</a>.'});

        //  .. White background
        var white_base = L.tileLayer("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAAEAAQMAAABmvDolAAAAA1BMVEX///+nxBvIAAAAH0lEQVQYGe3BAQ0AAADCIPunfg43YAAAAAAAAAAA5wIhAAAB9aK9BAAAAABJRU5ErkJggg==");

        var basemaps = {"OpenStreetMap": osm_base, "CartoDB Basemap": cartodb_base, "Stamen Toner": toner_base, "Remove background (white)": white_base};

        /***************************************
        * Set params for core map
        ***************************************/

        /*var tile_current_path = "./static/data/pearl-tiles/" + "{{ obj_show['pearl_sp'] }}" + "/current/{z}/{x}/{y}.png";*/

        var tile_current_path = "./static/data/pearl-tiles/" + "{{ obj_show['pearl_sp'] }}" + "/current/{z}/{x}/{y}.png";
        var tile_ac45_path = "./static/data/pearl-tiles/" + "{{ obj_show['pearl_sp'] }}" + "/futureac45/{z}/{x}/{y}.png";
        var tile_ac85_path = "./static/data/pearl-tiles/" + "{{ obj_show['pearl_sp'] }}" + "/futureac85/{z}/{x}/{y}.png";
        var tile_bc26_path = "./static/data/pearl-tiles/" + "{{ obj_show['pearl_sp'] }}" + "/futurebc26/{z}/{x}/{y}.png";
        var tile_bc45_path = "./static/data/pearl-tiles/" + "{{ obj_show['pearl_sp'] }}" + "/futurebc45/{z}/{x}/{y}.png";
        var tile_bc60_path = "./static/data/pearl-tiles/" + "{{ obj_show['pearl_sp'] }}" + "/futurebc60/{z}/{x}/{y}.png";
        var tile_bc85_path = "./static/data/pearl-tiles/" + "{{ obj_show['pearl_sp'] }}" + "/futurebc85/{z}/{x}/{y}.png";
        var tile_cc26_path = "./static/data/pearl-tiles/" + "{{ obj_show['pearl_sp'] }}" + "/futurecc26/{z}/{x}/{y}.png";
        var tile_cc45_path = "./static/data/pearl-tiles/" + "{{ obj_show['pearl_sp'] }}" + "/futurecc45/{z}/{x}/{y}.png";
        var tile_cc60_path = "./static/data/pearl-tiles/" + "{{ obj_show['pearl_sp'] }}" + "/futurecc60/{z}/{x}/{y}.png";
        var tile_cc85_path = "./static/data/pearl-tiles/" + "{{ obj_show['pearl_sp'] }}" + "/futurecc85/{z}/{x}/{y}.png";
        var tile_hd26_path = "./static/data/pearl-tiles/" + "{{ obj_show['pearl_sp'] }}" + "/futurehd26/{z}/{x}/{y}.png";
        var tile_hd45_path = "./static/data/pearl-tiles/" + "{{ obj_show['pearl_sp'] }}" + "/futurehd45/{z}/{x}/{y}.png";
        var tile_hd60_path = "./static/data/pearl-tiles/" + "{{ obj_show['pearl_sp'] }}" + "/futurehd60/{z}/{x}/{y}.png";
        var tile_hd85_path = "./static/data/pearl-tiles/" + "{{ obj_show['pearl_sp'] }}" + "/futurehd85/{z}/{x}/{y}.png";
        var tile_he26_path = "./static/data/pearl-tiles/" + "{{ obj_show['pearl_sp'] }}" + "/futurehe26/{z}/{x}/{y}.png";
        var tile_he45_path = "./static/data/pearl-tiles/" + "{{ obj_show['pearl_sp'] }}" + "/futurehe45/{z}/{x}/{y}.png";
        var tile_he60_path = "./static/data/pearl-tiles/" + "{{ obj_show['pearl_sp'] }}" + "/futurehe60/{z}/{x}/{y}.png";
        var tile_he85_path = "./static/data/pearl-tiles/" + "{{ obj_show['pearl_sp'] }}" + "/futurehe85/{z}/{x}/{y}.png";

        // Overlay layers (TMS)
        var tile_current = L.tileLayer(tile_current_path, {tms: true, opacity: 0.8, attribution: ""});
        var tile_ac45 = L.tileLayer(tile_ac45_path, {tms: true, opacity: 0.8, attribution: ""});
        var tile_ac85 = L.tileLayer(tile_ac85_path, {tms: true, opacity: 0.8, attribution: ""});
        var tile_bc26 = L.tileLayer(tile_bc26_path, {tms: true, opacity: 0.8, attribution: ""});
        var tile_bc45 = L.tileLayer(tile_bc45_path, {tms: true, opacity: 0.8, attribution: ""});
        var tile_bc60 = L.tileLayer(tile_bc60_path, {tms: true, opacity: 0.8, attribution: ""});
        var tile_bc85 = L.tileLayer(tile_bc85_path, {tms: true, opacity: 0.8, attribution: ""});
        var tile_cc26 = L.tileLayer(tile_cc26_path, {tms: true, opacity: 0.8, attribution: ""});
        var tile_cc45 = L.tileLayer(tile_cc45_path, {tms: true, opacity: 0.8, attribution: ""});
        var tile_cc60 = L.tileLayer(tile_cc60_path, {tms: true, opacity: 0.8, attribution: ""});
        var tile_cc85 = L.tileLayer(tile_cc85_path, {tms: true, opacity: 0.8, attribution: ""});
        var tile_hd26 = L.tileLayer(tile_hd26_path, {tms: true, opacity: 0.8, attribution: ""});
        var tile_hd45 = L.tileLayer(tile_hd45_path, {tms: true, opacity: 0.8, attribution: ""});
        var tile_hd60 = L.tileLayer(tile_hd60_path, {tms: true, opacity: 0.8, attribution: ""});
        var tile_hd85 = L.tileLayer(tile_hd85_path, {tms: true, opacity: 0.8, attribution: ""});
        var tile_he26 = L.tileLayer(tile_he26_path, {tms: true, opacity: 0.8, attribution: ""});
        var tile_he45 = L.tileLayer(tile_he45_path, {tms: true, opacity: 0.8, attribution: ""});
        var tile_he60 = L.tileLayer(tile_he60_path, {tms: true, opacity: 0.8, attribution: ""});
        var tile_he85 = L.tileLayer(tile_he85_path, {tms: true, opacity: 0.8, attribution: ""});
        // var overlaymaps = {"Layer": tile_current}

        var init_lat = {{ obj_show['init_lat'] }};
        var init_long = {{ obj_show['init_long'] }};
        var init_zoom = {{ obj_show['init_zoom'] }};

        /***************************************
        * Set core map
        ***************************************/

        //var map = L.map('map-id').setView([34.055, -118.35], 9);
        //var map = L.map('map-id').setView([init_lat, init_long], init_zoom);
        var map = L.map('map-id', {
            center: [init_lat, init_long],
            zoom: init_zoom,
            minZoom: 3,
            maxZoom: 6,
            layers: [cartodb_base]
        });

        /***************************************
        * Set controls over map
        ***************************************/

        var pearl_info = L.control({position: 'bottomleft'});
        pearl_info.onAdd = function(map) {
            this._div = L.DomUtil.create('div', 'pearl_info');
            this.pearl_update();
            return this._div;
        };
        pearl_info.pearl_update = function(props) {

            text = ''
                text += '<p style="color:white;"><b>Species Dist. Models</b></p><hr>' +
                    '<div class="row"><div class="col-md-4">' +
                    '<table name="model-table">' +
                    '<tr>' +
                        '<th>Model</th>' +
                        '<th>Native Habitat Change (%)</th>' +
                        '<th>Global Habitat Change (%)</th>' +
                    '</tr>'
                rgb_array =['0, 0, 255','255, 0, 0','255, 128, 0','255, 255, 0','128, 255, 0','0, 255, 0','0, 255, 128','0, 255, 255','0, 128, 255','0, 0, 255','174, 81, 198','255, 0, 255','255, 0, 127','140, 140, 140','255, 153, 153','153, 204, 255','204, 153, 255','255, 255, 153','255, 204, 204']
                for( i=1; i<rgb_array.length; i++){
                    text += '<tr>' +
                    '<td id="Model'+i+'" style="color: rgb('+rgb_array[i]+')">foo'+i+'</td>' + '<td id="native_habitat_change'+i+'">native'+i+'</td>' +
                        '<td id="global_habitat_change'+i+'">global'+i+'</td>' +
                    '</tr>'    
                }
                text += '</table> </div>'
                this._div.innerHTML = text;
        };

        pearl_info.addTo(map);

        function onMapClick(e) {
            //alert("You clicked the map at " + e.latlng);
            var curr_locc = e.latlng;
            var lat_div = $("#curr_lat");
            var long_div = $("#curr_long");
            lat_div.html(curr_locc["lat"]);
            long_div.html(curr_locc["lng"]);
        }
        map.on('click', onMapClick);

        var loc_info = L.control({position: 'bottomright'});
        loc_info.onAdd = function(map) {
            this._div = L.DomUtil.create('div', 'loc_info');
            this.loc_update();
            return this._div;
        };
        loc_info.loc_update = function(props) {
            this._div.innerHTML = '<div class="row">' +
                '<div class="col-md-12">' +
                '<table id="latlong">' +
                '<tr>' +
                '<th><b>Lat.</b></th>' +
                '<th><b>Long.</b></th>' +
                '</tr>' +
                '<tr>' +
                '<td>'+init_lat+'</td>' +
                '<td>'+init_long+'</td>' +
                '</tr>' +
                '</table>';
        };
        loc_info.addTo(map);

        L.control.scale({position: 'topleft'}).addTo(map);

        // Title
        var title = L.control();
        title.onAdd = function(map) {
            this._div = L.DomUtil.create('div', 'ctl title');
            this.update();
            return this._div;
        };
        title.update = function(props) {
            this._div.innerHTML = "<h1>{{ obj_show['prop_name'] }}</h1>" + "<hr><h2><small>{{ obj_show['sub_name'] }}</small></h2>";
        };
        title.addTo(map);

        /***************************************
        * Simple heatmap
        ***************************************/

        /*var num_points = point_data.features.length;
        var point_data_heat = point_data.features.map(function(p) {
            var ptnn = p.geometry.coordinates;
            var crbn = p.properties.tot_carbon
            //debugger;
            return L.latLng(ptnn[1], ptnn[0], eval(crbn) * 0.05);
        });
        var heat = L.heatLayer(point_data_heat, {radius: 25});*/

        var overlaymaps = {
            "Pearl: Current": tile_current,
            "Pearl: AC 4.5": tile_ac45,
            "Pearl: AC 8.5": tile_ac85,
            "Pearl: BC 2.6": tile_bc26,
            "Pearl: BC 4.5": tile_bc45,
            "Pearl: BC 6.0": tile_bc60,
            "Pearl: BC 8.5": tile_bc85,
            "Pearl: CC 2.6": tile_cc26,
            "Pearl: CC 4.5": tile_cc45,
            "Pearl: CC 6.0": tile_cc60,
            "Pearl: CC 8.5": tile_cc85,
            "Pearl: HD 2.6": tile_hd26,
            "Pearl: HD 4.5": tile_hd45,
            "Pearl: HD 6.0": tile_hd60,
            "Pearl: HD 8.5": tile_hd85,
            "Pearl: HE 2.6": tile_he26,
            "Pearl: HE 4.5": tile_he45,
            "Pearl: HE 6.0": tile_he60,
            "Pearl: HE 8.5": tile_he85
        };
        L.control.layers(basemaps, overlaymaps, {collpased: false}).addTo(map);

        /***************************************
        * Misc.
        ***************************************/

        /* Adjust map layout for menu + zoom controls */

        var this_height = $('#map-id').height();
        var main_menu = $(".main-menu");
        main_menu.attr("id", "main-menu-id");
        var menu_zoom = main_menu.parent();
        menu_zoom.attr("id", "menu-zoom-id");
        var zoom_div = menu_zoom.children()[0];
        var menu_div = menu_zoom.children()[1];
        $(zoom_div).insertAfter(menu_div);

        /***************************************
        * Hover over pearl models
        ***************************************/

        $(document).ready(function() {
            /* Pearl Current */
            var curr_box = $(".leaflet-control-layers-overlays > label > div > input")[0];
            //curr_box.on('click', onCurrClick);

            /*.change(function(event) {
                debugger;
                layerClicked = window[event.target.value];
                if (map.hasLayer(layerClicked)) {
                    map.removeLayer(layerClicked);
                } else {
                    map.addLayer(layerClicked);
                };
            });*/

            /* Pearl AC 4.5 */
            var ac45_box = $(".leaflet-control-layers-overlays > label > div > input")[1];
            /* Pearl AC 8.5 */
            var ac85_box = $(".leaflet-control-layers-overlays > label > div > input")[2];
            /* Pearl BC 2.6 */
            var bc26_box = $(".leaflet-control-layers-overlays > label > div > input")[3];
            /* Pearl BC 4.5 */
            var bc45_box = $(".leaflet-control-layers-overlays > label > div > input")[4];
            /* Pearl BC 6.0 */
            var bc60_box = $(".leaflet-control-layers-overlays > label > div > input")[5];
            /* Pearl BC 8.5 */
            var bc85_box = $(".leaflet-control-layers-overlays > label > div > input")[6];
            /* Pearl CC 2.6 */
            var cc26_box = $(".leaflet-control-layers-overlays > label > div > input")[7];
            /* Pearl CC 4.5 */
            var cc45_box = $(".leaflet-control-layers-overlays > label > div > input")[8];
            /* Pearl CC 6.0 */
            var cc60_box = $(".leaflet-control-layers-overlays > label > div > input")[9];
            /* Pearl CC 8.5 */
            var cc85_box = $(".leaflet-control-layers-overlays > label > div > input")[10];
            /* Pearl HD 2.6 */
            var hd26_box = $(".leaflet-control-layers-overlays > label > div > input")[11];
            /* Pearl HD 4.5 */
            var hd45_box = $(".leaflet-control-layers-overlays > label > div > input")[12];
            /* Pearl HD 6.0 */
            var hd60_box = $(".leaflet-control-layers-overlays > label > div > input")[13];
            /* Pearl HD 8.5 */
            var hd85_box = $(".leaflet-control-layers-overlays > label > div > input")[14];
            /* Pearl HE 2.6 */
            var he26_box = $(".leaflet-control-layers-overlays > label > div > input")[15];
            /* Pearl HE 4.5 */
            var he45_box = $(".leaflet-control-layers-overlays > label > div > input")[16];
            /* Pearl HE 6.0 */
            var he60_box = $(".leaflet-control-layers-overlays > label > div > input")[17];
            /* Pearl HE 8.5 */
            var he85_box = $(".leaflet-control-layers-overlays > label > div > input")[18];
        });
    </script>
</div>
<div id="push-pearl-postmap" style="height: 50px;"></div>

<div class="container" align="center">
    <div class="row">
            <form role="form" method='POST' action='' style="margin: 0 auto; width:400px">
                <div class="form-group" style="margin-bottom:0px">
                    <!--input type = "text" name = "query_string" class = "form-control" id = "query-box" placeholder = "Enter query" style = "max-width: 300px;" autofocus required-->
                    <fieldset class="form-group" style="margin-bottom:0px">
                        <div class="form-check" id = "form-check" style="margin-bottom:5px">
                        </div>
                    </fieldset>
               </div>
                <button type="submit" class="btn btn-default">Render Map</button>
            </form>
    </div>
</div>
<script type="text/javascript">
        Spname = {{ splist | safe }};
        /*text = '<label for="searchbar">Search Bar:</label>' +
        '<select id="searchbar" style="width:300px" name="searchbar" class="form-control required">';*/
        text = '<label for="searchbar"></label>' +
        '<select id="searchbar" style="width:400px" name="searchbar" class="form-control required"><option value="foo_sp"><b><i>Choose a different species of interest...</i></b></option>';
        for(i = 0; i < Spname.length; i++){
            text += '<option value="' + Spname[i] + '"><i>' +  Spname[i] + '</i></option>';
        }
        text += '</select>';
        document.getElementById("form-check").innerHTML = text
        $('select').select2({
        });
</script>
<!--div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center;">Current Species: <i>{{ obj_show['prop_name'] }}</i></h1>
            <div class="container" style="padding: 10px; ">
                <table id="csv-table" data-toggle="true" data-show-columns="true" data-pagination="true" data-height="500">
                    <thead>
                        <tr class="click-row" data-href="/">
                            <th data-field="id" data-sortable="true">Species ID</th>
                            <th data-field="science_name" data-sortable="true">Scientific Name</th>
                            <th data-field="clade" data-sortable="true">Clade</th>
                            <th data-field="iucn" data-sortable="true">IUCN</th>
                            <th data-field="coverage" data-sortable="true">Data Collection Quality</th>
                            <th data-field="uncertain" data-sortable="true">Model Quality</th>
                            <th data-field="sources" data-sortable="true">Data Sources</th>
                            <th data-field="tss" data-sortable="true">True Skill Statistic</th>
                            <th data-field="roc" data-sortable="true">Area Under Curve</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div-->

<div id="push-index-bottom" style="height: 100px;"></div>
{% endblock %}
